@font-face {
    font-family: "Silver";
    src: url("../fonts/Silver.ttf");
}

* { box-sizing: border-box; margin: 0; padding: 0;}

body {
    font-family: "Silver";
    color: #fff;
    width: 100%;
    height: 100%;
    font-size: 25px;
    background: #8639b9;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 8px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

header {
    width: 100%;
    background: #000;
    z-index: 99;
}

header nav ul {
    width: 100%;
    display: flex;
}

header nav ul li {
    padding: 15px;
    list-style-type: none;
    z-index: 999;

}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    position: relative;
}

header nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform .3s ease-out;
}

header nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.flex {
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: center;
}

.card {
    background-color: #fff;
    width: 33%;
    color: #646464;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
}

.card img {
    width: 50%
}

@keyframes scroll {
    0% {
        transform: translateX(0);
   }
    100% {
        transform: translateX(calc(-250px * 7));
   }
}
.slider {
    background: rgb(13, 13, 13);
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 50px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.slider::before, .slider::after {
    background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 50px;
    position: absolute;
    width: 200px;
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}
.slider .slide {
    height: 50px;
    width: 250px;
    color: #fff;
    padding-top: 15px;
}

.percentage.negative {
    color: red;
}
.percentage.positive {
    color: green;
}

.accueil {
    position: fixed;
    top: 0;
    height: 100px;
    z-index: 999;
}

.debut {
    height: 600px;
    width: 100%;
    background: url("../images/background.jpg");
}

.atmosphere {
    width: 100%;
    height: 1056px;
    background: url("../images/thermosphere.jpg");
}

a {
    color: #fff;
    text-decoration: none;
}

article {
    position: absolute;
    top: 120px;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    transition: .3s;

    height: 800px;
    z-index: 1;
}

a img {
    width: 30px;
    height: 30px;
}
.title {
    display: inline-block;
    position: relative;
    padding: 0 30px;
    height: 62px;
    border: 2px solid white;
    border-radius: 50px;
    color: #00adb5;
    transform: rotate(358deg);
    -webkit-transform: rotate(358deg);
    box-shadow: 5px 3px 0px 0px #00adb5;
    -webkit-box-shadow: 5px 3px 0px 0px #00adb5;
    font-size: 72px;
    margin-bottom: 50px;
}

a.buy {
    color: white;
    text-decoration: none;
    font-size: 48px;
}

#container {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.combination {
    position: relative;
    white-space: nowrap;
    font-size: 2em;
    display: block;
    position: absolute;
}

.chapeau {
    position: absolute;
    top: 0;
    z-index: 2;
}

.chat {
    z-index: 1;
    position: absolute;
    top: 40px;
    left: 8px;
    width: 80px;
    height: 80px;
}

.cloud {
    position: absolute;
    z-index: 6;
    top: 100px;
}

.about {
    text-align: center;
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.about h2 {
    margin-top: 15px;
}

#cat-with-a-hat {
    background: none;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center space-between;
}

#tokenomics {
    background: none;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center space-between;
    margin: 50px 0;
}

.sky {
    position: relative;
}

.barometre {
    text-align: center;
}
.action {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image {
    width: 400px;
    height: 350px;
    background-image: url("../images/test.png");
    background-repeat: no-repeat;
    background-size: 400px 270px;
    position: relative;
}

.cadran {
    width: 300px;
    height: 300px;
    padding: 8px;
    border-radius: 50%;
    z-index: 5;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
}

.cadran img {
    border-radius: 50%;
    width: 300px;
    margin-left: -9px;
    height: 300px;
}

.aiguille {
    height: 200px;
    width: 25px;
    background-image: url("../images/aiguille.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform-origin: left bottom;
    z-index: 99;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);;
}

#cat-with-a-hat img {
    width: 100px;
    height: 80px;
}

#cat-with-a-hat img.active {
    width: 150px;
    height: 80px;
}

.tap {
    background-color: #ffd000;
    height: 45px;
    width: 250px;
    font-size: 48px;
    border-radius: 25px;
    cursor: pointer;
    color: #fff;
    font-family: "Silver";
    border: none;
    transition: .3s;
    outline: none;
    margin: 50px 0;
}

.tap:hover {
    background-color: #fff;
    color: #000;
}

.alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 50%;
    background: #fff;
    color: #000;

    z-index: 9999;
    visibility: hidden;
}

.alert.toggled {
    visibility: visible;
}

.alert p {
    position: absolute;
    top: 80%;
    font-size: 32px;
    width: 100%;
    text-align: center;
}

.images {
    position: absolute;
    left: 40%;
    top: 20%;
}

.overlay.active {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.list {
    width: 20%;
    height: 400px;
    margin: 35px;
    background-color: #fff;
    padding: 8px;
    border-radius: 5px;
}

.list li {
    color: #000;
    list-style-type: none;
}

.list1 h3 {
    color: #2ecc71;
}

.list2 h3 {
    color: #e74c3c;
}

@media screen and (max-width: 900px) {

    .barometre {
        text-align: center;
    }
    .action {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Deux colonnes de largeur égale */
        grid-template-rows: auto auto; /* Deux rangées automatiques en hauteur */
    }
    
    .image {
        grid-row: 1;
        grid-column: 1 / span 2; /* Fait en sorte que .image prenne toute la largeur de la grille */
        text-align: center; /* Centrer le contenu de l'image */
        margin: 0 auto;
    }
    
    .cadran {
        display: inline-block; /* Pour centrer le contenu de .image */
    }
    
    .list1, .list2 {
        grid-row: 2;
        width: 80%; /* Assurer que les listes prennent toute la largeur disponible */
    }
    
    .list1 {
        margin-left: 0;
        grid-column: 1; /* Première colonne */
    }
    
    .list2 {
        grid-column: 2; /* Deuxième colonne */
    }
    
    /* Optionnel : ajuster les styles des listes et des éléments de la liste */
    .list ul {
        list-style-type: none; /* Retirer les puces des listes */
        padding: 0;
    }
    
    .list ul li {
        padding: 5px 0; /* Espacement des éléments de la liste */
    }
    
    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        height: 100%;
        z-index: 9999999;
    }
    .nav-list li {
        text-align: center;
        color: #fff;

    }
    .menu-toggle {
        display: flex;
    }

    .images {
        left: 30%;
    }

    .alert {
        width: 50%;
    }
}

.nav-list.active {
    display: flex;
}